.running-info {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.info-content {
    margin-bottom: 8px;
}

.button-container {
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-bottom: 12px;
}

.control-button {
    flex: 1;
    padding: 6px;
    font-size: 12px;
    color: #FFFFFF;
    background-color: #3454D1;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family: 'Poppins', sans-serif;
    transition: background-color 0.3s ease;
}

.control-button:hover {
    background-color: #2A43A7;
}

.log-box {
    flex-grow: 1;
    border: 1px solid transparent;
    border-radius: 4px;
    padding: 8px;
    background-color: #f5f5f5;
    margin-bottom: 12px;
    max-height: 300px;
    /* Set a fixed height for the log box */
    overflow-y: auto;
    /* Enable vertical scrolling */
}

.log-box h3 {
    margin-top: 0;
    margin-bottom: 8px;
    color: #3454D1;
    font-size: 14px;
}

.log-content {
    font-family: 'Poppins', sans-serif;
    font-size: 13px;
    line-height: 1.25;
    padding: 4px;
    border-radius: 4px;
    white-space: pre-wrap;
    word-break: break-word;
    text-align: left;
}

.log-content p {
    margin: 0;
    padding: 1px 0;
}

.algo-result {
    border: 1px solid #3454D1;
    border-radius: 4px;
    padding: 8px;
    background-color: #f0f4ff;
}

.algo-result h4 {
    margin-top: 0;
    margin-bottom: 8px;
    color: #3454D1;
    font-size: 14px;
}

.algo-result>ul {
    list-style-type: none;
    padding-left: 0;
    margin: 0;
}

.algo-result>ul>li {
    margin-bottom: 8px;
}

.algo-result strong {
    color: #3454D1;
    margin-right: 5px;
}

.strategy-list {
    font-family: monospace;
    white-space: nowrap;
    overflow-x: auto;
    display: inline-block;
    max-width: 100%;
    vertical-align: top;
}

.strategy-list span {
    display: inline;
}