.information-page {
    padding: 40px 20px;
    display: flex;
    justify-content: center;
    background: #F5F5F5;
    min-height: 100vh;
}

.input-container {
    width: 90%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: #FFFFFF;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 30px;
}

h3,
h4 {
    font-family: 'Poppins', sans-serif;
    color: #3454D1;
    margin-bottom: 20px;
}

h3 {
    font-size: 24px;
    margin-top: 30px;
}

.dropdown {
    margin-bottom: 15px;
    border: 1px solid #e0e0e0;
    border-radius: 8px;
    overflow: hidden;
    transition: all 0.3s ease;
}

.dropdown-header {
    background-color: #189AB4;
    padding: 15px 20px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s ease;
}

.dropdown-header:hover {
    background-color: #2CBFAF;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.dropdown-header.active {
    background-color: #2CBFAF;
    box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.3);
    transform: translateY(1px);
}

.dropdown-header h4 {
    margin: 0;
    font-size: 18px;
    font-weight: 500;
    color: #FFFFFF;
}

.dropdown-content-info {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease, padding 0.5s ease;
    background-color: #FFFFFF;
}

.dropdown-content-info p {
    padding: 0 20px;
    margin: 0;
    font-size: 16px;
    line-height: 1.6;
    color: #333333;
}

.dropdown-content-info.active {
    max-height: none;
    padding: 15px 0;
}

.try-it-out-button {
    padding: 12px 25px;
    background-color: #D1345B;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    border-radius: 25px;
    text-decoration: none;
    display: inline-block;
    margin-top: 30px;
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 500;
    transition: all 0.3s ease;
    align-self: center;
    text-align: center;
}

.try-it-out-button:hover {
    background-color: #B12D4E;
    transform: translateY(-2px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}